<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8" />
	<title>Libro lista</title>
	<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap-theme.min.css}" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			</div>
		</div>
	</div>
	<script th:src="@{/jquery-3.4.0/jquery.min.js}"></script>
	<script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/libro-lista.js}"></script>
</body>
</html>